@import url(https://fonts.googleapis.com/css?family=Anton);

body {
    background-color: #343839;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;

}

p {
    font-family: "Open Sans";
}
.navbar {
    background-color: #fff;
    min-height: 70px;
    margin-bottom: 0;
    line-height: 70px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.15);
    text-align: center;
    font-size: 40px;
}


.question-section {
    padding-top: 25px;
    text-align: center;
}



.box-shadow{
    width:220px;
    height:220px;
    overflow : hidden;
    display: table;
    margin: 0 auto;
    border-radius:300px;
    background-color : #06FA59;
    box-shadow:0px 0px 0px rgb(182, 182, 182) ,
    1px 1px 0px rgb(183, 183, 183) ,
    2px 2px 0px rgb(183, 183, 183) ,
    3px 3px 0px rgb(184, 184, 184) ,
    4px 4px 0px rgb(184, 184, 184) ,
    5px 5px 0px rgb(184, 184, 184) ,
    6px 6px 0px rgb(185, 185, 185) ,
    7px 7px 0px rgb(185, 185, 185) ,
    8px 8px 0px rgb(186, 186, 186) ,
    9px 9px 0px rgb(186, 186, 186) ,
    10px 10px 0px rgb(186, 186, 186) ,
    11px 11px 0px rgb(187, 187, 187) ,
    12px 12px 0px rgb(187, 187, 187) ,
    13px 13px 0px rgb(188, 188, 188) ,
    14px 14px 0px rgb(188, 188, 188) ,
    15px 15px 0px rgb(189, 189, 189) ,
    16px 16px 0px rgb(189, 189, 189) ,
    17px 17px 0px rgb(189, 189, 189) ,
    18px 18px 0px rgb(190, 190, 190) ,
    19px 19px 0px rgb(190, 190, 190) ,
    20px 20px 0px rgb(191, 191, 191) ,
    21px 21px 0px rgb(191, 191, 191) ,
    22px 22px 0px rgb(192, 192, 192) ,
    23px 23px 0px rgb(192, 192, 192) ,
    24px 24px 0px rgb(192, 192, 192) ,
    25px 25px 0px rgb(193, 193, 193) ,
    26px 26px 0px rgb(193, 193, 193) ,
    27px 27px 0px rgb(194, 194, 194) ,
    28px 28px 0px rgb(194, 194, 194) ,
    29px 29px 0px rgb(195, 195, 195) ,
    30px 30px 0px rgb(195, 195, 195) ,
    31px 31px 0px rgb(195, 195, 195) ,
    32px 32px 0px rgb(196, 196, 196) ,
    33px 33px 0px rgb(196, 196, 196) ,
    34px 34px 0px rgb(197, 197, 197) ,
    35px 35px 0px rgb(197, 197, 197) ,
    36px 36px 0px rgb(198, 198, 198) ,
    37px 37px 0px rgb(198, 198, 198) ,
    38px 38px 0px rgb(198, 198, 198) ,
    39px 39px 0px rgb(199, 199, 199) ,
    40px 40px 0px rgb(199, 199, 199) ,
    41px 41px 0px rgb(200, 200, 200) ,
    42px 42px 0px rgb(200, 200, 200) ,
    43px 43px 0px rgb(201, 201, 201) ,
    44px 44px 0px rgb(201, 201, 201) ,
    45px 45px 0px rgb(201, 201, 201) ,
    46px 46px 0px rgb(202, 202, 202) ,
    47px 47px 0px rgb(202, 202, 202) ,
    48px 48px 0px rgb(203, 203, 203) ,
    49px 49px 0px rgb(203, 203, 203) ,
    50px 50px 0px rgb(204, 204, 204) ,
    51px 51px 0px rgb(204, 204, 204) ,
    52px 52px 0px rgb(204, 204, 204) ,
    53px 53px 0px rgb(205, 205, 205) ,
    54px 54px 0px rgb(205, 205, 205) ,
    55px 55px 0px rgb(206, 206, 206) ,
    56px 56px 0px rgb(206, 206, 206) ,
    57px 57px 0px rgb(207, 207, 207) ,
    58px 58px 0px rgb(207, 207, 207) ,
    59px 59px 0px rgb(207, 207, 207) ,
    60px 60px 0px rgb(208, 208, 208) ,
    61px 61px 0px rgb(208, 208, 208) ,
    62px 62px 0px rgb(209, 209, 209) ,
    63px 63px 0px rgb(209, 209, 209) ,
    64px 64px 0px rgb(210, 210, 210) ,
    65px 65px 0px rgb(210, 210, 210) ,
    66px 66px 0px rgb(210, 210, 210) ,
    67px 67px 0px rgb(211, 211, 211) ,
    68px 68px 0px rgb(211, 211, 211) ,
    69px 69px 0px rgb(212, 212, 212) ,
    70px 70px 0px rgb(212, 212, 212) ,
    71px 71px 0px rgb(213, 213, 213) ,
    72px 72px 0px rgb(213, 213, 213) ,
    73px 73px 0px rgb(213, 213, 213) ,
    74px 74px 0px rgb(214, 214, 214) ,
    75px 75px 0px rgb(214, 214, 214) ,
    76px 76px 0px rgb(215, 215, 215) ,
    77px 77px 0px rgb(215, 215, 215) ,
    78px 78px 0px rgb(216, 216, 216) ,
    79px 79px 0px rgb(216, 216, 216) ,
    80px 80px 0px rgb(216, 216, 216) ,
    81px 81px 0px rgb(217, 217, 217) ,
    82px 82px 0px rgb(217, 217, 217) ,
    83px 83px 0px rgb(218, 218, 218) ,
    84px 84px 0px rgb(218, 218, 218) ,
    85px 85px 0px rgb(218, 218, 218) ,
    86px 86px 0px rgb(219, 219, 219) ,
    87px 87px 0px rgb(219, 219, 219) ,
    88px 88px 0px rgb(220, 220, 220) ,
    89px 89px 0px rgb(220, 220, 220) ,
    90px 90px 0px rgb(221, 221, 221) ,
    91px 91px 0px rgb(221, 221, 221) ,
    92px 92px 0px rgb(221, 221, 221) ,
    93px 93px 0px rgb(222, 222, 222) ,
    94px 94px 0px rgb(222, 222, 222) ,
    95px 95px 0px rgb(223, 223, 223) ,
    96px 96px 0px rgb(223, 223, 223) ,
    97px 97px 0px rgb(224, 224, 224) ,
    98px 98px 0px rgb(224, 224, 224) ,
    99px 99px 0px rgb(224, 224, 224) ,
    100px 100px 0px rgb(225, 225, 225) ,
    101px 101px 0px rgb(225, 225, 225) ,
    102px 102px 0px rgb(226, 226, 226) ,
    103px 103px 0px rgb(226, 226, 226) ,
    104px 104px 0px rgb(227, 227, 227) ,
    105px 105px 0px rgb(227, 227, 227) ,
    106px 106px 0px rgb(227, 227, 227) ,
    107px 107px 0px rgb(228, 228, 228) ,
    108px 108px 0px rgb(228, 228, 228) ,
    109px 109px 0px rgb(229, 229, 229) ,
    110px 110px 0px rgb(229, 229, 229) ,
    111px 111px 0px rgb(230, 230, 230) ,
    112px 112px 0px rgb(230, 230, 230) ,
    113px 113px 0px rgb(230, 230, 230) ,
    114px 114px 0px rgb(231, 231, 231) ,
    115px 115px 0px rgb(231, 231, 231) ,
    116px 116px 0px rgb(232, 232, 232) ,
    117px 117px 0px rgb(232, 232, 232) ,
    118px 118px 0px rgb(233, 233, 233) ,
    119px 119px 0px rgb(233, 233, 233);
}

.text-shadow{
    color: #ffffff;
    font-size: 115px;
    font-weight: bold;
    -webkit-text-stroke: 0px #FFFFFF;
    -moz-text-stroke: 0px #FFFFFF;
    -o-text-stroke: 0px #FFFFFF;
    -webkit-text-stroke: 0px #FFFFFF;
    width: 100%;
    height: 100%;
    text-align: center;
    letter-spacing : 5px;
    line-height: 1;
    display: table-cell;
    vertical-align: middle;
    text-shadow:0px 0px 0px rgb(0, 212, 51) ,
    1px 1px 0px rgb(0, 212, 51) ,
    2px 2px 0px rgb(0, 213, 52) ,
    3px 3px 0px rgb(0, 213, 52) ,
    4px 4px 0px rgb(0, 213, 52) ,
    5px 5px 0px rgb(0, 214, 53) ,
    6px 6px 0px rgb(0, 214, 53) ,
    7px 7px 0px rgb(0, 214, 53) ,
    8px 8px 0px rgb(0, 214, 53) ,
    9px 9px 0px rgb(0, 215, 54) ,
    10px 10px 0px rgb(0, 215, 54) ,
    11px 11px 0px rgb(0, 215, 54) ,
    12px 12px 0px rgb(0, 216, 55) ,
    13px 13px 0px rgb(0, 216, 55) ,
    14px 14px 0px rgb(0, 216, 55) ,
    15px 15px 0px rgb(0, 217, 56) ,
    16px 16px 0px rgb(0, 217, 56) ,
    17px 17px 0px rgb(0, 217, 56) ,
    18px 18px 0px rgb(0, 218, 57) ,
    19px 19px 0px rgb(0, 218, 57) ,
    20px 20px 0px rgb(0, 218, 57) ,
    21px 21px 0px rgb(0, 219, 58) ,
    22px 22px 0px rgb(0, 219, 58) ,
    23px 23px 0px rgb(0, 219, 58) ,
    24px 24px 0px rgb(0, 220, 59) ,
    25px 25px 0px rgb(0, 220, 59) ,
    26px 26px 0px rgb(0, 220, 59) ,
    27px 27px 0px rgb(0, 221, 60) ,
    28px 28px 0px rgb(0, 221, 60) ,
    29px 29px 0px rgb(0, 221, 60) ,
    30px 30px 0px rgb(0, 222, 61) ,
    31px 31px 0px rgb(0, 222, 61) ,
    32px 32px 0px rgb(0, 222, 61) ,
    33px 33px 0px rgb(0, 222, 61) ,
    34px 34px 0px rgb(0, 223, 62) ,
    35px 35px 0px rgb(0, 223, 62) ,
    36px 36px 0px rgb(0, 223, 62) ,
    37px 37px 0px rgb(0, 224, 63) ,
    38px 38px 0px rgb(0, 224, 63) ,
    39px 39px 0px rgb(0, 224, 63) ,
    40px 40px 0px rgb(0, 225, 64) ,
    41px 41px 0px rgb(0, 225, 64) ,
    42px 42px 0px rgb(0, 225, 64) ,
    43px 43px 0px rgb(0, 226, 65) ,
    44px 44px 0px rgb(0, 226, 65) ,
    45px 45px 0px rgb(0, 226, 65) ,
    46px 46px 0px rgb(0, 227, 66) ,
    47px 47px 0px rgb(0, 227, 66) ,
    48px 48px 0px rgb(0, 227, 66) ,
    49px 49px 0px rgb(0, 228, 67) ,
    50px 50px 0px rgb(0, 228, 67) ,
    51px 51px 0px rgb(0, 228, 67) ,
    52px 52px 0px rgb(0, 229, 68) ,
    53px 53px 0px rgb(0, 229, 68) ,
    54px 54px 0px rgb(0, 229, 68) ,
    55px 55px 0px rgb(0, 230, 69) ,
    56px 56px 0px rgb(0, 230, 69) ,
    57px 57px 0px rgb(0, 230, 69) ,
    58px 58px 0px rgb(0, 230, 69) ,
    59px 59px 0px rgb(0, 231, 70) ,
    60px 60px 0px rgb(0, 231, 70) ,
    61px 61px 0px rgb(0, 231, 70) ,
    62px 62px 0px rgb(0, 232, 71) ,
    63px 63px 0px rgb(0, 232, 71) ,
    64px 64px 0px rgb(0, 232, 71) ,
    65px 65px 0px rgb(0, 233, 72) ,
    66px 66px 0px rgb(0, 233, 72) ,
    67px 67px 0px rgb(0, 233, 72) ,
    68px 68px 0px rgb(0, 234, 73) ,
    69px 69px 0px rgb(0, 234, 73) ,
    70px 70px 0px rgb(0, 234, 73) ,
    71px 71px 0px rgb(0, 235, 74) ,
    72px 72px 0px rgb(0, 235, 74) ,
    73px 73px 0px rgb(0, 235, 74) ,
    74px 74px 0px rgb(0, 236, 75) ,
    75px 75px 0px rgb(0, 236, 75) ,
    76px 76px 0px rgb(0, 236, 75) ,
    77px 77px 0px rgb(0, 237, 76) ,
    78px 78px 0px rgb(0, 237, 76) ,
    79px 79px 0px rgb(0, 237, 76) ,
    80px 80px 0px rgb(0, 238, 77) ,
    81px 81px 0px rgb(0, 238, 77) ,
    82px 82px 0px rgb(0, 238, 77) ,
    83px 83px 0px rgb(0, 238, 77) ,
    84px 84px 0px rgb(0, 239, 78) ,
    85px 85px 0px rgb(0, 239, 78) ,
    86px 86px 0px rgb(0, 239, 78) ,
    87px 87px 0px rgb(0, 240, 79) ,
    88px 88px 0px rgb(0, 240, 79) ,
    89px 89px 0px rgb(0, 240, 79) ,
    90px 90px 0px rgb(0, 241, 80) ,
    91px 91px 0px rgb(0, 241, 80) ,
    92px 92px 0px rgb(0, 241, 80) ,
    93px 93px 0px rgb(0, 242, 81) ,
    94px 94px 0px rgb(0, 242, 81) ,
    95px 95px 0px rgb(0, 242, 81) ,
    96px 96px 0px rgb(0, 243, 82) ,
    97px 97px 0px rgb(0, 243, 82) ,
    98px 98px 0px rgb(0, 243, 82) ,
    99px 99px 0px rgb(0, 244, 83) ,
    100px 100px 0px rgb(0, 244, 83) ,
    101px 101px 0px rgb(0, 244, 83) ,
    102px 102px 0px rgb(1, 245, 84) ,
    103px 103px 0px rgb(1, 245, 84) ,
    104px 104px 0px rgb(1, 245, 84) ,
    105px 105px 0px rgb(2, 246, 85) ,
    106px 106px 0px rgb(2, 246, 85) ,
    107px 107px 0px rgb(2, 246, 85) ,
    108px 108px 0px rgb(2, 246, 85) ,
    109px 109px 0px rgb(3, 247, 86) ,
    110px 110px 0px rgb(3, 247, 86) ,
    111px 111px 0px rgb(3, 247, 86) ,
    112px 112px 0px rgb(4, 248, 87) ,
    113px 113px 0px rgb(4, 248, 87) ,
    114px 114px 0px rgb(4, 248, 87) ,
    115px 115px 0px rgb(5, 249, 88) ,
    116px 116px 0px rgb(5, 249, 88) ,
    117px 117px 0px rgb(5, 249, 88) ,
    118px 118px 0px rgb(6, 250, 89) ,
    119px 119px 0px rgb(6, 250, 89);
}
